<section class="booking-details_wrap container" id="popupContainer">
    <div class="dialog-demo-content">
        <h5>
            Users
        </h5>
        <hr>
        <button class="btn btn-outline-primary" ng-click="showHideUsers()">View Users</button>
        <div ng-show="isVisibleUsers">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in users">
                        <td>
                            <a href="/#!/user/{{u._id}}">{{u.username}}</a>
                        </td>
                        <td>
                            <a href="/#!/update-user/{{u._id}}" class="btn btn-primary">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-success" href="/#!/register">Create User</a>
        </div>
    </div>
    <hr>
    <div>
        <h5>
            Reviews
        </h5>
        <hr>
        <button class="btn btn-outline-primary" ng-click="showHideReviews()">View Reviews</button>
        <div ng-show="isVisibleReviews">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Review</th>
                    <th>Writer</th>
                    <th>Restaurant</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in reviews">
                    <td>
                        {{r.text}}
                    </td>
                    <td>{{r.user}}</td>
                    <td>{{r.restaurant}}</td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-success" href="/#!/create-review">Create Review</a>
        </div>
    </div>
    <hr>
    <div>
        <h5>
            Restaurants
        </h5>
        <hr>
        <a class="btn btn-outline-primary" ng-click="showHideRestaurants()">View Restaurants</a>
        <div ng-show="isVisibleRestaurants">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Restaurant</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="r in restaurants">
                    <td>
                        <a href=/#!/restaurant/{{r._id}}>{{r.name}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-success" href="/#!/create-restaurant">Create Restaurant</a>
        </div>
    </div>
</section>