<form class="container">
    <div class="top-bottom-margins">
        <h2>Create Restaurant</h2>
        <hr>
        <form name="create-restaurant">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="username">
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp"
                       placeholder="Enter email" ng-model="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password"
                       ng-model="password">
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password"
                       ng-model="confirmPassword">
            </div>
            <div class="form-group">
                <label for="address">Street Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter street address"
                       ng-model="address">
            </div>
            <div class="form-group">
                <label for="address2">Street Address 2</label>
                <input type="text" class="form-control" id="address2" placeholder="Optional" ng-model="address2">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" placeholder="Enter city" ng-model="city">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" class="form-control" id="state" placeholder="Enter state" ng-model="state">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control" id="country" placeholder="Enter country" ng-model="country">
            </div>
            <div class="form-group">
                <label for="zip">ZIP</label>
                <input type="number" class="form-control" id="zip" placeholder="12345" ng-model="zip">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="number" class="form-control" id="phone" placeholder="1234567890" ng-model="phone">
            </div>
            <div class="form-group">
                <label for="phone">Profile Picture</label>
                <input type="text" class="form-control" id="picture" placeholder="Optional link to Profile Picture"
                       ng-model="picture">
            </div>
            <label for="dropdown">User Type</label>
            <br/>
            <select id="dropdown" ng-model="type">
                <option ng-repeat="t in types">{{t}}</option>
            </select>
            <br/><br/>

            <div class="form-group" ng-show="type == 'CRITIC' || type == 'ADVERTISER'">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" placeholder="Enter company name"
                       ng-model="company">
            </div>
            <div class="form-group" ng-show="type == 'CRITIC'">
                <label for="position">Company position</label>
                <input type="text" class="form-control" id="position" placeholder="Enter company position"
                       ng-model="position">
            </div>

            <div class="form-group" ng-show="type == 'OWNER'">
                <p>In order to claim a restaurant as yours, visit your profile page after registration.</p>
            </div>

            <div class="form-group" ng-show="type == 'ADVERTISER'">
                <label for="cc">Credit card number</label>
                <input type="text" class="form-control" id="cc" placeholder="1234567890123456"
                       ng-model="creditCardNumber">
            </div>
            <div class="form-group" ng-show="type == 'ADVERTISER'">
                <label for="card-type">Card type</label>
                <input type="text" class="form-control" id="card-type" placeholder="Visa/Mastercard"
                       ng-model="cardType">
            </div>
            <div class="form-group" ng-show="type == 'ADVERTISER'">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" placeholder="123" ng-model="cvv">
            </div>

            <br/><br/>
            <button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
        </form>
    </div>
</form>