<section class="booking-details_wrap container">
    <h5>
        User: {{username}}
    </h5>
    <hr>
    <h6>Favorites</h6> <br/>
    <a class="btn btn-success" href="/#!/create-favorite/{{userId}}">Create Favorite</a>
    <br/>
    <div ng-show="favorites.length == 0">
        <br/>
        <br/>
        <p>This user has no favorites.</p>
    </div>
    <table class="table table-sm admin-table" ng-show="favorites.length > 0">
        <thead>
        <tr>
            <th>Restaurant</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in favorites">
            <td>
                <a href="#!/restaurant/{{f[0]._id}}">{{f[0].name}}</a>
            </td>
            <td>
                <a href="/#!/update-favorite/{{userId}}/{{f[0]._id}}" class="btn btn-primary">Update</a>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="removeFavorite(f[0]._id, $index)">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>