<div class="dark-bg sticky-top">
  <div class="    -fluid">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="/">RestoFinder</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-menu"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNavDropdown"
          >
            <ul class="navbar-nav">
              <li class="nav-item active" ng-if="currentUser != null && currentUser.userType == 'ADMIN'">
                <a class="nav-link" href="#!/admin">ADMIN MANAGE</a>
              </li>
              <li class="nav-item active" ng-if="currentUser != null && currentUser.userType != 'ADMIN'">
                <a class="nav-link" ng-click="goToProfile()">Profile</a>
              </li>
              <li class="nav-item" ng-if="currentUser == null">
                <a class="nav-link" href="#!/login">Log In</a>
              </li>
              <li class="nav-item" ng-if="currentUser != null">
                <a class="nav-link" href="#" ng-click="logout()">Logout</a>
              </li>
              <li class="nav-item" ng-if="currentUser == null">
                <a class="nav-link" href="#!/register">Register</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
