<!--============================= BOOKING DETAILS =============================-->
<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-4 responsive-wrap">
                <div class="follow">
                    <ul>
                        <li>{{user.email}}</li>
                        <li>{{user.password}}</li>
                        <li>{{user.address}}</li>
                        <li>{{user.phone}}</li>
                        <li>{{user.type}}</li>
                    </ul>
                    <div><a href="/add-restaurant" class="btn btn-outline-light top-btn"><span class="ti-plus"></span>
                        Add
                        Restaurant</a></div>
                </div>
            </div>
            <div class="col-md-8 responsive-wrap">
                <div class="main-block light-bg">
                    <h5>Reviews</h5>
                    <hr>
                    <div ng-repeat="r in reviews">
                        <div class="customer-review_wrap">
                            <div class="customer-rating">{{r.rating}}</div>
                        </div>
                        <p class="customer-text">{{review.text}}</p>
                        </br>
                    </div>
                    <hr>
                    <h5>Following</h5>
                    <ul class="">
                        <ul ng-repeat="f in following">
                            <li><a href=/#!/view-user>{{f.username}}</a></li>
                        </ul>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END BOOKING DETAILS -->
